@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i');
#errormessage
{
    display: none;
    color: red;
}
ul 
{
    padding-left:5px
}
li 
{
    padding-left:5px
}
body 
{
   font-family: 'PT Sans', sans-serif;
}
#backgroundColor
{
    background-color: rgb(255,255,255,0);
    height: 100%;
    width:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: -1;
}
#loginForm
{
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgb(255,255,255,0.5);
    width: 300px;
    height: 204px;
}
input
{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input:focus 
{
    border: 3px solid #555;
}

#loginBtn
{
    background-color: rgb(0, 102, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}
#loginBtn:hover
{
    background-color: rgba(0, 102, 255,0.8)
}